---
pagination:
  data: persons
  size: 1
  alias: person
permalink: '/{{ person.id | slug }}.html'
layout: base.njk
---

  <div class="firstRow">
    <img class="image" src="https://placedog.net/500" alt="A image of a person who dont exist.">
    <div class="mainData">
        <h2>{{ person.main.firstName }}</h2>
        <p>Entry created: {{person.main.birthdate}}</p>
          <p>Entry accessed: {{person.main.birthdate}}</p>
        <p>Last accessed: {{person.main.birthdate}}</p>
        <p>Date of birth: {{person.main.birthdate}}</p>
    </div>
  </div>
  <div class="contact">
    <h3>Contacting {{ person.main.firstName }}</h3>

  </div>
